<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PuntoVentaBL.Properties.Settings.PuntoVentaAutoPartsOnDemandConnectionString"
            connectionString="Data Source=CHAVA;Initial Catalog=PuntoVentaAutoPartsOnDemand;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>